# git-ignore

.DS_Store
*/.DS_Store

__pycache__
*/__pycache__

*.pyc
*/*.pyc

admin/
figures/
data/
results/
code/.vscode/
code/mne-connectivity
code/hackathon_mne_mvc
code/pte/
code/py_neuromodulation/
code/matlab
code/ICN_repo
code/meet/